.contact__wrapper {
  height: 100%;
}

.contact__title {
  margin-bottom: 4rem;
  text-align: center;
}

.contact__content {
  color: #ccc;
  width: 90%;
  margin: 0 auto;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20vh;
  opacity: 0;
}

.contact__field {
  margin: 1rem 0;
  text-align: center;
}

.contact__icons {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
  a {
    font-size: 2.5rem;
    color: #ccc;
  }
}

@media screen and (min-width: 500px) {
  .contact__icons {
    width: 30%;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .contact__icons {
    width: 20%;
    padding-top: 2rem;
  }
}
