.project__wrapper {
  height: 100%;
  color: #ccc;
}

.project__content {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.project__title {
  opacity: 0;
  text-align: center;
  padding-top: 1rem;
}

.project__content p {
  width: 85%;
  margin: 0 auto;
  font-size: 0.9rem;
  margin: 1.5rem 0;
  opacity: 0;
}

.project__skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 5rem auto 0 auto;
  opacity: 0;
}

.project__skills span {
  flex-basis: 30%;
  text-align: center;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0.3rem;
  font-size: 0.8rem;
  color: rgb(221, 201, 21);
}

.project__main {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto 0 auto;
}

.project__links a {
  border: 2px solid $reddish;
  border-radius: 20px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  user-select: none;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.project__back {
  border: 2px solid rgb(238, 196, 11);
  border-radius: 20px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  user-select: none;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  background-color: $darkBg;
  cursor: pointer;
}

.project__github {
  font-size: 2.5rem;
  color: #ccc;
}

/* tablet */
@media screen and (min-width: 500px) {
  .project__back {
    max-width: 150px;
  }
  .project__links {
    width: 60%;
  }
  .project__links a,
  .project__links button {
    width: 30%;
  }
  .project__skills span {
    flex-basis: 20%;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .project__wrapper {
    margin: 0 15vw 0 20vw;
  }
  .project__title {
    font-size: 3rem;
    padding-top: 3rem;
  }
  .project__content {
    padding-top: 0rem;
    flex-direction: row-reverse;
  }
  .project__content p {
    width: 80%;
  }
  .project__links {
    width: 50%;
  }
  .project__links a,
  .project__links button {
    width: 25%;
  }
  .project__skills {
    flex-direction: column;
    width: 70%;
    margin: 0;
    opacity: 0;
    justify-content: flex-start;
    margin-top: 16rem;
  }

  .project__skills span {
    flex-basis: auto;
    flex-grow: 0;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem 0.3rem;
    font-size: 1.2rem;
    min-width: 55%;
    white-space: nowrap;
  }
}
